.main {
    display: flex;
    flex-direction: column;
    height: 30em;
    width: 45em;
    background-color: black;
    justify-content: center;
    align-items: center;
    font-family: "Trebuchet MS";
}

.row {
    display: flex;
    flex-direction: row;
    height: 6em;
    width: 45em;
    justify-content: center;
    align-items: center;
}

.data {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6em;
    width: 9em;
    cursor: pointer;
    background-color: rgb(24,24,24);
    user-select: none;
}

.data:hover {
    filter: brightness(130%);
    transition: all .2s;
}

button {
    background: rgb(16, 18, 19);
    background-size: contain;
    height: 4em; 
    width: 10em;
    font-family: "Trebuchet MS";
    color: white;
    border: 0
}

button:hover {
    filter: brightness(130%);
    transition: all .2s;
}

.buttons {
    display: flex;
    flex-direction: row;
    height: 4em;
    width: 30em;
    margin: auto;
}

.text {
    height: 2em;
    width: 15em;
    margin: auto;
    font-family: "Trebuchet MS";
    color: white;
    text-align: center;
    background: none;
}

.options {
    display: flex;
    flex-direction: column;
}